{% extends 'base.html' %}

{% block content %}

<h3 class='text-center'><b>Ваш предварительный заказ</b></h3>
<br>
<br>

<table class="table">

    <tr>
        <td class='text-center'><b>Товар</b></td>
        <td class='text-center'><b>Кол-во</b></td>
        <td class='text-center'><b>Цена</b></td>
        <td class='text-center'></td>
    </tr>

    {% for item in cart.items.all %}

    <tr>
        <td class='text-center'>{{ item.product.title }}</td>
        <td class='text-center'>{{ item.qty }}</td>
        <td class='text-center'>{{ item.item_total }} cur.</td>
        <td></td>
    </tr>

    {% endfor %}

</table>

<table class="table">

    <tr>
        <td class="text-center"><b>Итого:</b></td>
        <td></td>
        <td class="text-center"><b>{{ cart.cart_total }} cur.</b></td>
        <td></td>
    </tr>

</table>

<a href="{% url 'create_order' %}" class="pull-right"><button class="btn btn-success">Оформить заказ</button></a>

{% endblock content %}